

/* This part does working. */
.hidden{
    display: none !important;
}

#forwardnavsymptomsform,
#backnavsymptomsform,
#backnavuserhelpornot,
#backnavhealthyform,
#backnavallhealthy{
    cursor:pointer;
}


.arrow.alternate.left.icon{
    cursor:pointer;
}


.ui.inverted.circular.segment{
    cursor:pointer;
}